---
import Card from '@components/card';
import Button from '@components/button';
import Layouts from '@components/Layout';
// Add this line

---

<Layouts title="Supershuaifeng" generator={Astro.generator}>
	<main class="flex flex-col gap-5 items-center justify-center h-screen w-screen">
	<Card
		title="Login"
		description="Now is in /login route"
	/>
	<Button 
		title="Go to home page"
		link="/"
	/>
	</main>
</Layouts>
